<biit-progress-bar *ngIf="loading" [type]="BiitProgressBarType.INDETERMINATE"></biit-progress-bar>

<div class="overlay" *transloco="let t">
  <span class="label-place-inside">{{t('t.place_inside')}}</span>
  <div class="window"
       [class.success]="success"
       [class.error]="error"></div>
  <span *ngIf="loading" class="label-result" style="font-size: 3vmin">{{t('t.please_wait')}}</span>
  <span *ngIf="success" class="label-result">{{t('t.welcome')}}</span>
  <span *ngIf="error" class="label-result">{{t('t.try_again')}}</span>
</div>

<biit-icon *ngIf="multiCam"
           name="swap"
           pathStyle]="{fill: '#ffffff'}" style="width: 40px; height: 40px; position: absolute; top: 20px; right: 20px; z-index: 2; cursor: pointer"
></biit-icon>


<ngx-scanner-qrcode #action="scanner"
                    (event)="scanQr($event)"
></ngx-scanner-qrcode>

<span class="label-bottom left" [style.opacity]="!checkedAttendees ? 0 : 1">{{title}}</span>
<span class="label-bottom right" [style.opacity]="!checkedAttendees ? 0 : 1">{{checkedAttendees}} / {{totalAttendees}}</span>
<biit-progress-bar [type]="BiitProgressBarType.DETERMINATE" [value]="(100/totalAttendees) * checkedAttendees" class="progress"
                   [style.opacity]="!checkedAttendees ? 0 : 1"></biit-progress-bar>
