:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

biit-progress-bar {
  position: absolute;
  width: 100%;
  z-index: 2;

  &.progress {
    bottom: 0.25rem;
    transition: 0.1s all ease-in-out;
  }
}

ngx-scanner-qrcode {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;

  ::ng-deep video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  ::ng-deep canvas, ::ng-deep div {
    display: none;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;

  .window {
    height: 55vmin;
    width: 55vmin;
    border: 3px solid #222222;
    box-shadow: 0 0 0 100vh #22222299;
    border-radius: 5px;

    &.success {
      border: 3px solid #57A87F;
      box-shadow: 0 0 0 100vh #57A87F99;
    }

    &.error {
      border: 3px solid #A1093F;
      box-shadow: 0 0 0 100vh #A1093F99;
    }
  }

  .label-place-inside {
    position: absolute;
    font-size: 3.5vmin;
    font-weight: 600;
    bottom: calc(50% + 29vmin);
    color: white;
    width: 55vmin;
    text-align: center;
  }

  .label-result {
    position: absolute;
    font-size: 4.2vmin;
    font-weight: 600;
    top: calc(50% + 30.5vmin);
    color: white;
    width: 55vmin;
    text-align: center;
    text-transform: uppercase;
  }
}

.label-bottom {
  position: absolute;
  bottom: 0.5rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: min(4vmin, 1.5rem);
  z-index: 2;
  transition: 0.1s all ease-in-out;

  &.left {
    left: 0.5rem;
    max-width: 75%;
  }

  &.right {
    right: 0.5rem;
    text-align: right;
  }
}
