:host {
  height: 100%;
  display: flex;
  overflow: hidden;
}

ngx-scanner-qrcode {
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;

  ::ng-deep video {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }

  ::ng-deep canvas, ::ng-deep div {
    display: none;
  }
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;

  &.success {
    background: #57A87F99;
  }

  &.error {
    background: #A1093F99;
  }
}
