$default-color: #262626;

.canvas {
  height: 100%;
  width: 100%;
  padding: 3em;
  display: flex;
}

@media (max-width: 1279px) {
  .canvas {
    flex-direction: column;
    gap: 1em;

    .sidebar {
      .workshops {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1em;
        gap: 0.75em;
        border: 3px solid $default-color;
        background: white;

        .top {
          display: flex;
          align-items: center;
          height: 2.125em;

          a {
            font-size: 1.3em;
            font-weight: 700;
            text-transform: uppercase;
            padding-left: 0.3em;
            padding-right: 0.75em;
          }
        }

        .middle {
          display: flex;
          min-height: 5em;
          max-height: 7.9em;
          flex-flow: wrap;
          gap: 0.125em;
          overflow-y: auto;
        }

        .bottom {
          display: flex;
          position: absolute;
          top: 1em;
          right: 1em;
        }
      }

      .mini-calendar {
        display: none;
      }
    }
  }
}

@media (min-width: 1280px) {
  .canvas {
    flex-direction: row;
    gap: 3em;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .workshops {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 0.75em;
      gap: 0.75em;
      border: 3px solid $default-color;
      background: white;

      .top {
        display: flex;
        align-items: center;
        height: 2.125em;
        flex-shrink: 0;

        a {
          font-size: 1.3em;
          font-weight: 700;
          text-transform: uppercase;
          padding-left: 0.3em;
          padding-right: 0.75em;
          flex-grow: 1;
        }
      }

      .middle {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        overflow-y: auto;
        gap: 0.125em;
      }

      .bottom {
        display: flex;
        flex-shrink: 0;

        biit-input-text {
          display: block;
          width: 100%;
        }
      }
    }

    .mini-calendar {
      font-size: 18px;
    }
  }


}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 1em;
  gap: 1em;
  background: white;
  border: 3px solid $default-color;

  .top {
    height: 2.125em;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      a {
        font-size: 1.5em;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 0.75em;
        padding-right: 0.75em;
      }
    }

    .right {
      display: flex;
    }
  }
}

.workshop {
  position: relative;
  height: 2.5em;
  min-width: 15em;
  display: flex;
  flex-direction: column;
  border-left: 0.2em solid var(--event-primary);
  background: var(--event-secondary);
  padding: 0.25em;
  cursor: pointer;

  @media (max-width: 1279px) {
    flex-basis: 24.86%;
  }

  &:hover {
    background: var(--event-hover);
  }

  a {
    color: var(--event-tertiary);

    &.duration {
      font-size: 0.56em;
      line-height: 1em;
      text-transform: uppercase;
      user-select: none;
    }

    &.title {
      margin-top: 0.125em;
      font-size: 0.69em;
      font-weight: bold;
      line-height: 1em;
      text-transform: uppercase;
      user-select: none;
    }

    &.speakers {
      margin-top: 0.025em;
      font-size: 0.69em;
      line-height: 1em;
      user-select: none;
    }
  }

  &.drag-active {
    z-index: 3;
  }

  .subscribed {
    position: absolute;
    display: flex;
    right: 0.2rem;
    font-size: 0.6rem;
    text-transform: uppercase;
    line-height: 0.6rem;
    align-items: center;
    gap: 0.1rem;
    transition: 0.5s ease-in-out;
  }

  .eye {
    position: absolute;
    width: 1.5rem;
    bottom: 0.1rem;
    right: 0.2rem;
    height: 1.4rem;

    ::ng-deep biit-icon path {
      fill: var(--event-primary) !important;
    }

    &.show ::ng-deep biit-icon path {
      fill: var(--event-tertiary) !important;
    }

    ::ng-deep &:hover, &:focus-visible, &:has(.checked) {
      background: var(--event-primary);

      &:not(:active) biit-icon path {
        fill: var(--event-secondary) !important;
      }

      &:active biit-icon path {
        fill: var(--event-tertiary) !important;
      }
    }
  }
}

::ng-deep .card-unsubscribed .cal-event {
  box-shadow: inset 0 0 0 1px var(--event-primary);
}

.event-card {
  position: fixed;
  z-index: 10;
}
