<div class="canvas" id="workshop-popup" *transloco="let t">
  <div class="row">
    <biit-input-text id="event-title" [(ngModel)]="workshop.title"
                     [placeholder]="t('form.title')"
                     error="{{errors | mapGet: WorkshopFormValidationFields.TITLE_MANDATORY}}"
    ></biit-input-text>
  </div>
  <div class="row">
    <biit-multiselect id="event-speakers" [ngModel]="workshop.speakers | multiselectInterface: speakers"
                      (ngModelChange)="onMultiselectSelection($event)"
                      [data]="speakers"
                      [label]="'label'"
                      [value]="'value'"
                      [title]="t('form.speakers')"
    ></biit-multiselect>
    <biit-input-text id="event-duration" [(ngModel)]="workshop.duration"
                     [type]="Type.NUMBER"
                     placeholder="{{t('form.duration')}}"
    ></biit-input-text>
  </div>
  <div class="row">
    <biit-textarea id="event-description" [(ngModel)]="workshop.description"
                   placeholder="{{t('form.description')}}"
    ></biit-textarea>
  </div>
  <div class="row">
    <biit-input-text id="event-cost" [(ngModel)]="workshop.cost"
                     [type]="Type.NUMBER"
                     [min]="0"
                     placeholder="{{t('form.cost')}}"
    ></biit-input-text>
    <biit-dropdown id="event-theme" [ngModel]="workshop.colorTheme | dropdownInterface: translatedColors"
                   (ngModelChange)="workshop.colorTheme = $event.value"
                   [data]="translatedColors"
                   [label]="'label'"
                   [value]="'value'"
                   [title]="t('form.color_theme')"
    ></biit-dropdown>
  </div>
  <button id="event-button-save" biit-button (click)="onSave()">
    {{ 'form.save' | transloco }}
  </button>
</div>
